fastapi
uvicorn[standard]
celery[redis]
redis
sqlmodel
asyncpg
psycopg2-binary
alembic
pydantic-settings
python-multipart
httpx
firecrawl-py
playwright
boto3
openai
python-dotenv
psycopg2-binary
trafilatura==2.0.0
pymupdf==1.27.1
beautifulsoup4
bleach
requests
youtube-transcript-api
pytest
ruff
